In [2]:
#import pandas
import pandas as pd
import numpy as np

In [25]:
#Read CSV file
df = pd.read_csv('Resources//cities.csv')
data = df.head(19)

In [4]:
#Display HTML data
weather = data.to_html()
print(weather)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>City_ID</th>
      <th>City</th>
      <th>Cloudiness</th>
      <th>Country</th>
      <th>Date</th>
      <th>Humidity</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Max Temp</th>
      <th>Wind Speed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>jacareacanga</td>
      <td>0</td>
      <td>BR</td>
      <td>1528902000</td>
      <td>62</td>
      <td>-6.22</td>
      <td>-57.76</td>
      <td>89.60</td>
      <td>6.93</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>kaitangata</td>
      <td>100</td>
      <td>NZ</td>
      <td>1528905304</td>
      <td>94</td>
      <td>-46.28</td>
      <td>169.85</td>
      <td>42.61</td>
      <td>5.64</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>goulburn</td>
      <td>20</td>
      <td>AU</td>
      <td>1528905078</td>
      <td>91</td>
      <td>-34.75</td>
      <td>149.72</td>
      <td>44.32</td>
      <td>10.11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>lata</td>
      <td>76</td>
      <td>IN</td>
      <td>1528905305</td>
      <td>89</td>
      <td>30.78</td>
      <td>78.62</td>
      <td>59.89</td>
      <td>0.94</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>chokurdakh</td>
      <td>0</td>
      <td>RU</td>
      <td>1528905306</td>
      <td>88</td>
      <td>70.62</td>
      <td>147.90</td>
      <td>32.17</td>
      <td>2.95</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>martyush</td>
      <td>92</td>
      <td>RU</td>
      <td>1528905306</td>
      <td>94</td>
      <td>56.40</td>
      <td>61.89</td>
      <td>55.03</td>
      <td>9.33</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>hobart</td>
      <td>20</td>
      <td>AU</td>
      <td>1528902000</td>
      <td>87</td>
      <td>-42.88</td>
      <td>147.33</td>
      <td>44.60</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>broken hill</td>
      <td>0</td>
      <td>AU</td>
      <td>1528905311</td>
      <td>88</td>
      <td>-31.97</td>
      <td>141.45</td>
      <td>44.50</td>
      <td>7.31</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>harnosand</td>
      <td>0</td>
      <td>SE</td>
      <td>1528903200</td>
      <td>44</td>
      <td>62.63</td>
      <td>17.94</td>
      <td>60.80</td>
      <td>13.87</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>tuatapere</td>
      <td>0</td>
      <td>NZ</td>
      <td>1528905312</td>
      <td>100</td>
      <td>-46.13</td>
      <td>167.69</td>
      <td>38.92</td>
      <td>3.40</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>puerto ayora</td>
      <td>90</td>
      <td>EC</td>
      <td>1528902000</td>
      <td>69</td>
      <td>-0.74</td>
      <td>-90.35</td>
      <td>77.00</td>
      <td>13.87</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>havre-saint-pierre</td>
      <td>75</td>
      <td>CA</td>
      <td>1528902000</td>
      <td>58</td>
      <td>50.23</td>
      <td>-63.60</td>
      <td>53.60</td>
      <td>19.46</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>punta arenas</td>
      <td>0</td>
      <td>CL</td>
      <td>1528902000</td>
      <td>100</td>
      <td>-53.16</td>
      <td>-70.91</td>
      <td>35.60</td>
      <td>9.17</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>tasiilaq</td>
      <td>75</td>
      <td>GL</td>
      <td>1528901400</td>
      <td>60</td>
      <td>65.61</td>
      <td>-37.64</td>
      <td>39.20</td>
      <td>2.24</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>chapais</td>
      <td>40</td>
      <td>CA</td>
      <td>1528902000</td>
      <td>38</td>
      <td>49.78</td>
      <td>-74.86</td>
      <td>59.00</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>avarua</td>
      <td>40</td>
      <td>CK</td>
      <td>1528902000</td>
      <td>56</td>
      <td>-21.21</td>
      <td>-159.78</td>
      <td>73.40</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>hofn</td>
      <td>75</td>
      <td>IS</td>
      <td>1528902000</td>
      <td>87</td>
      <td>64.25</td>
      <td>-15.21</td>
      <td>51.80</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>yukamenskoye</td>
      <td>92</td>
      <td>RU</td>
      <td>1528905315</td>
      <td>98</td>
      <td>57.89</td>
      <td>52.24</td>
      <td>56.65</td>
      <td>10.22</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>khandbari</td>
      <td>80</td>
      <td>NP</td>
      <td>1528905315</td>
      <td>67</td>
      <td>27.38</td>
      <td>87.21</td>
      <td>44.59</td>
      <td>1.39</td>
    </tr>
  </tbody>
</table>

In [28]:
df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [32]:
df.set_index("City_ID", inplace=True)

KeyError: "None of ['City_ID'] are in the columns"

In [33]:
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...
542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [34]:
#Display all data
df.to_html('Da.html')